@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #7CBEE6, #6E447D);
  padding: 50px;
}

.container {
  margin: 10px auto;
  padding: 25px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}

.container .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  position: relative;
}

.container .title:after {
  content: "";
  left: 0;
  bottom: -2px;
  position: absolute;
  border: none;
  width: 20px;
  height: 2px;
  background: linear-gradient(to right, #7CBEE6, #6E447D);
}

.container .text-input {
  margin-bottom: 12px;
}

.container .form-control {
  margin-bottom: 8px;
}

.container .form-control label {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 3px;
}

.container .form-control input {
  display: block;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 8px 12px;
  color: #dcdcdc;
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
}

.genders {
  margin-bottom: 12px;
}

.gender-title {
  margin-bottom: 12px;
}

.genders label {
  margin-right: 48px;
  font-size: 12px;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 8px;
  color: #fff;
  background: linear-gradient(to right, #7CBEE6, #6E447D);
  border: none;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1px;
}
